body {
    font-family: Arial, sans-serif;
    background-color: #d5d5d5;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
}

form {
    background: #ecebeb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure padding doesn't affect overall width */
}

input[type="submit"] {
    background-color: #4065c2;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #224bb0;
}
select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

select:focus {
    border-color: #5cb85c;
    outline: none;
}